html {
    box-sizing: border-box;
    background-color: #E0E1DD;
    font-family: 'Prompt', sans-serif;
}

header h1 {
    text-align: center;
}

section {
    margin-left: 20%;
    margin-right: 20%;
}

.dataItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;

    background-color: #778DA9;
    margin-bottom: 20px;

}

.dataItems input {
    margin: 10px;
    padding: 5px;
    font-family: 'Prompt', sans-serif;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.itemsButton:hover {
    background-color: #E0E1DD;
}

.quantum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #778DA9;
}

.quantum input {
    margin: 10px;
    padding: 5px;
    font-family: 'Prompt', sans-serif;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.quantumText {
    margin: 10px;
    padding: 5px;
    font-family: 'Prompt', sans-serif;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.quantum h3 {
    margin: 0;
    margin-top: 10px;
}

.quantumButton:hover {
    background-color: #E0E1DD;
}

.container {
    display: flex;
}

.quantumClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 3%;
    background-color: #778DA9;
}

.quantumClass input {
    margin: 10px;
    padding: 5px;
    font-family: 'Prompt', sans-serif;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.quantumList {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 3%;
    background-color: #778DA9;
    width: 500px ;
}

.quantumList ul {
    text-decoration: none;
    padding: 0;
    margin-left: 8px;
    justify-content: start;
    align-items: start;
    text-align: start;
    list-style-type: none;

}